*{
	box-sizing: border-box;
	font-family: sans-serif;
	text-align: justify;
}

i {
	padding: 5px;
}

#print-button , #edit-button {
	color: white;
	position: fixed;
	bottom: 1em;
	right: 1em;
	padding: 1em;
	background: rgba(0,0,0,50%);
	border-radius: 3px;
	/* backdrop-filter: blur(100px); */
}

#edit-button {
	left: 1em;
	width: fit-content;
}

@media screen and (max-width: 900px) {
	#print-button , #edit-button {
		z-index: -1;
	}

	main{
		margin-bottom: 98px;
	}

	#edit-button {
		left: 1em;
		width: fit-content;
	}
}

body{
	width: 70%;
	margin: 1em auto;
	/* background: #424242; */
	background: linear-gradient(var(--gradient));
}

@media screen and (max-width: 900px) {
	body {
		width: 100%;
	}
}

.body-container{
	background: white;
}

h1,h2,h3,h4,p {
	margin: 2px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover{
	text-shadow: 1px 3px 5px grey;
}

/* .clicked{
	color: red;
} */

.flex-row-container,.flex-column-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.flex-row-container {
	flex-direction: row;
}

.flex-column-container {
	flex-direction: column;
}

.column-item{
	margin: 0.3em 0;
}

.row-item {
	align-items: center;
}

h1 {
	margin-top: 1em;
}

ul{
	list-style: none;
}

li::before {
	content: "\2022";
	font-weight: 1000;
	display: inline-block;
	color: var(--body-special-color);
	width: 1em;
	margin-left: -1em;
}

li {
	margin: 0.5em 0;
}

/* Header
***************************/

header{
	background: var(--header-main-background);
	margin-bottom: 0.25em;
	color: white;
} 



.header-column-item { /* For handle bar to stay from end to end */
	margin: 0;
}

.profile-name, .profile-job , .profile-summary{
	padding: 0 2rem;
	text-align: justify;
}

@media screen and (max-width: 900px) {
	.profile-name, .profile-job , .profile-summary{
		padding: 0 1rem;
		text-align: justify;
	}
}

.profile-handles{
	background: var(--header-handles-background);
	justify-content: space-around;
	padding: 1.25em;
	align-items: flex-end;
}

.profile-handles-item{
	width: fit-content;
}

@media screen and (max-width: 900px) {
	.sm-flex-column-container{
		flex-direction: column;
		align-items: flex-start;
	}
	.profile-handles-item {
		padding: 0.5em 0;
	}
}

.profile-summary {
	margin: 1em 0;
}


/* Main 
***************************/

h2{
	color: var(--body-special-color);
	text-decoration: underline;
	text-transform: uppercase;
	margin: 0.3em 0;
	font-size: 1.5em;
}

main{
	padding: 0 1rem;
	background: white;
}

.main-row-item {
	padding: 0.7rem;
} 

@media screen and (max-width: 900px) {
	main {
		padding: 0;
	}
	
}

main a{
	color: var(--body-special-color);
}

.company-name {
	font-weight: 400;
}

.duration-result, .duration-place {
	justify-content: space-between;
}

.duration-place-item,.duration-result-item {
	font-style: italic;
	color: var(--body-special-color);
}

/* .experience-item,.personal-project-item{
	margin: 0.5em 0;
} */

.col-7{
	flex-basis: calc(7/12 * 100%);
}

.col-5{
	flex-basis: calc(5/12 * 100%);
}

@media screen and (max-width : 900px) {
	.col-sm-12 {
		flex-basis: 100%;
	}
	.column-item{
		width: 100%;
	}
}

.language-item::before , .interest-item::before {
	display: none;
}

.language,.interest{
	padding: 0;
	justify-content: flex-start;
}

.language-item , .interest-item {
	color: white;
	border:  var(--body-special-color) 1px solid;
	border-radius: 4px;
	padding: .5em;
	margin: 0.5em;
	background: var(--body-special-color);
}

.achievement-item p {
	font-style: italic;
	color: grey;
}

/* Media Query
***************************/

@media print {

	html {
		visibility: hidden;
	}

	#print-button,#edit-button {
		visibility: hidden;
	}

	body {
		width:918px;
		visibility: visible;
		background: white;
		margin-top: 0;
	}

	li {
		margin: 0.1em;
	}

	h1{
		margin-top: 0.3em;
	}

	.column-item{
		margin: 0.1em;
	}

	main a{
		color: var(--body-special-color)
	}
}
