:root {
    --primary-color-dark: rgb(192, 207, 167);
    --primary-color: rgb(216, 229, 194);
    --header-color: black;
    --primary-color-light: rgb(177, 191, 155);
    --body-special-color: rgb(70, 85, 45);
    --gradient: 180deg, #83e9d2 5%, #fffff4 99%;
}