:root {
    --primary-color-dark: #004ba0;
    --primary-color: #1976d2;
    --header-color: white;
    --primary-color-light: #63a4ff;
    --body-special-color: #004ba0;
    --gradient: 180deg, #FFD54F 5%, #FFA000 99%;
}