:root {
    --primary-color-dark: rgb(192, 207, 167);
    --primary-color: rgb(216, 229, 194);
    --header-color: black;
    --primary-color-light: rgb(177, 191, 155);
    --body-special-color: rgb(70, 85, 45);
    --gradient: 180deg, rgb(240, 207, 143) 5%, rgb(250, 249, 249) 99%;
}